<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listagem</title>
</head>
<br>
    <h2>Listagem</h2>
    <ul>
        {% for curso in transacoes %}
           <li>{{curso.nome}}</li>
           <ul>
               {% for aluno in curso.aluno_set.all %}
                  <li>{{aluno.nome}}</li>
               {% endfor %}
           </ul>
        {% endfor %}
    </ul>

    <a href="{% url 'url_nova' %}"> Cadastrar Produto</a></br>
    <a href="{% url 'url_categoria' %}"> Cadastrar Categoria</a></br>

    <a href="{% url 'create_aluno' %}"> Cadastrar Alunos</a></br>
    <a href="{% url 'create_curso' %}"> Cadastrar Cursos</a>


</body>
</html>


<!--{% for aluno in transacoes %}
           <li>{{aluno.nome}}</li>
           <ul>
               {% for cursos in aluno.cursos.all %}
                 <li>{{cursos.nome}}</li>
               {% endfor %}
           </ul>
{% endfor %}-->

<!--{% for transacao in transacoes %}
           <li><a href="{% url 'url_update' transacao.id %}">{{ transacao.descricao }} - {{transacao.data}} - {{transacao.valor}} - {{transacao.categoria}}</a></li>
{% endfor %}-->


<!--{% for curso in transacoes %}
           <li>{{curso.nome}}</li>
           <ul>
               {% for aluno in curso.aluno_set.all %}
                  <li>{{aluno.nome}}</li>
               {% endfor %}
           </ul>
{% endfor %}-->

